// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// Reset
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    background: transparent;
    outline: none;
    font-family: Montserrat, sans-serif;
}
html{
    overflow-x: hidden;
    scrollbar-width: normal;
    scrollbar-color: #333333 rgba(0, 0, 0, 0.6);
}
img{
    font-style: italic;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    color: #FFF;
}
*:focus {
    outline: none;
}

//font variables
$text-8: .5rem;
$text-10: .625rem;
$text-12: .750rem;
$text-14: .875rem;
$text-16: 1rem;
$text-18: 1.125rem;
$text-20: 1.25rem;
$text-22: 1.375rem;
$text-24: 1.5rem;
$text-26: 1.625rem;
$text-28: 1.750rem;
$text-30: 1.875rem;
$text-32: 2rem;
$text-34: 2.125rem;
$text-36: 2.25rem;
$text-38: 2.375rem;
$text-40: 2.5rem;
$text-42: 2.625rem;
$text-44: 2.750rem;
$text-46: 2.875rem;
$text-48: 3rem;
$text-52: 3.25rem;
$text-56: 3.5rem;
$text-60: 3.75rem;
$text-64: 4rem;
$text-80: 5rem;
$text-96: 6rem;
$container-width: min(100% - 4rem, 1400px);
// Classes
:root{
--centered-item-size: 27svh;
}

@mixin centeredPseudoElement{
    position: absolute;
	top: 50%;
    transform: translateY(-50%);
}
::selection{
    color: inherit;
    background: rgba(255, 255, 255, 0.1);
}
.container {
    width: $container-width;
    margin: 0 auto;
}

body {
	color: #FFF;
	background: #080808;
    min-height: 100svh;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.section-small{
	font-weight: 700;
	font-size: clamp($text-10, 0.5rem + 0.625vw, $text-20);
	color: #fff;
}

.section-separator{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3svw;
    margin-inline: auto;
    padding: 4svh;
    position: relative;
    z-index: 2;
    background-color: #0a0a0a;
    & svg{
        flex: 0 0 25svw;
    }
}

.big-title{
    font-weight: 700;
    font-size: clamp($text-32, 1.2rem + 4vw, $text-96);
    color: #fff;
    text-transform: uppercase;
}


.section-title{
	font-weight: 700;
	font-size: clamp($text-36, 1.7rem + 2.75vw, $text-80);
	line-height: 112%;
	text-transform: uppercase;
	color: #fff;
	margin: 1rem 0;
}

.section-text{
	font-weight: 400;
	font-size: clamp($text-12, 0.625rem + 0.625vw, $text-22);
	color: #fff;
}

.btn{
    margin: 2.5rem 0 0 0;
	border-radius: 114px;
	padding: 1rem 2rem;
	display: flex;
    align-items: center;
	gap: .5rem;
    cursor: pointer;
    font-weight: 700;
	font-size: clamp($text-16, 0.8rem + 1vw,$text-32);
	color: #fff;
    max-width: fit-content;
    transition: all .3s ease;
    position: relative;
    top: -5px;
    &:hover{
        top: 0;
    }
}

