@media (max-width: 1024px){
	.hero .container .slider-controls button{
		transform: scale(1.6);
	}
}
@media (max-width: 768px){
	.bubble-container:nth-child(odd), .bubble-8, .bubble-9, .bubble-10{
		display: none;
	}
	.hero{
		min-height: fit-content;
	}
	button.back-to-top{
		transform: scale(0.8) rotate(180deg);
		bottom: 1rem;
		right: 1rem;
	}
}

@media (max-width: 425px){
	:root{
		--centered-item-size: 140px;
	}
	.slider__item.item23, .slider__item.item27 {
		opacity: 0;
		pointer-events: none;
	}
	.slider__item.item24{
		left: 25%;
		opacity: 0.6;
	}
	.slider__item.item26{
		left: 75%;
		opacity: 0.6;
	}
	.link {
		padding: 3svh;
		&.odd .container{
			flex-direction: unset;
		}
		& img{
			display: none;
		}
		& .container{
			margin: 0;
		}
	}
	.btn{
		padding: .3rem 1rem;
		& svg{
			height: .75rem;
			width: .75rem;
		}
	}
	button.back-to-top{
		transform: scale(0.6) rotate(180deg);
		bottom: 0;
		right: 0;
	}
	 
}
@media (hover: none) {
	button.back-to-top .circle {
	  animation: circle 1s linear infinite;
	}
 
	button.back-to-top .fa {
	  animation: arrow 1s linear infinite;
	}
 
	button.back-to-top .pulse {
	  animation: pulse 2s linear infinite;
	}
 }