.hero {
	min-height: 100svh;
	background-image: url(../../images/hero-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 13svh 0 60px;
	background-position: center;
	overflow: hidden;
	& .container {
		overflow: visible;
		position: relative;
		display: flex;
		flex-direction: column;
		text-align: center;
		width: min(100% - 4rem, 1170px);
		& > img{
			width: 60px;
			height: 41px;
			margin: 0 auto 4svh;
		}
		& h1{
			font-weight: 700;
			font-size: clamp(2rem, 0.525rem + 7.375vw, 9.375rem);
			background: linear-gradient(237deg, #25bab1 0%, #af1ed3 52%, #5648af 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		& > h2{
			font-weight: 400;
			font-size: clamp($text-12, 0.65rem + 0.5vw, $text-20);
			text-align: center;
			color: #c1c4d6;
			margin: 0 0 7svh 0;
		}
		& .slider-controls{
			position: absolute;
			bottom: -40px;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			gap: 10rem;
			justify-content: center;
			& button{
				cursor: pointer;
				display: block;
				height: 25px;
				width: 14px;
				padding: .5rem;
				&:first-child{
					background: url(../../images/arrow-left.svg) center no-repeat;
				}
				&:last-child{
					background: url(../../images/arrow-right.svg) center no-repeat;
				}
			}
		}
	}
}

.bubbles{
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider{
	position: relative;
	display: flex;
	align-items: center;
	&::before{
		content: '';
		height: var(--centered-item-size);
		width: 0;
		display: block;
	}
	&__item{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		transition: all .3s ease;
		z-index: 0;
		background-size: contain;
		height: calc(var(--centered-item-size) * 0.6);
		width: calc(var(--centered-item-size) * 0.6);
		&.item1, &.item2, &.item3, &.item4, &.item5, &.item6, &.item7, &.item8, &.item9, &.item10, &.item11, &.item12, &.item13, &.item14, &.item15, &.item16, &.item17, &.item18, &.item19, &.item20, &.item21, &.item22 {
			left: 15%;
			opacity: 0;
			z-index: 0;
			pointer-events: none;
		}
		&.item23{
			left: 15%;
			transform: translateX(-50%);
		}
		&.item24{
			left: 30%;
			transform: translateX(-50%);
		}
		&.item24, &.item26{
			height: calc(var(--centered-item-size) * 0.8);
			opacity: .8;
			width: calc(var(--centered-item-size) * 0.8);
			z-index: 1;
		}
		&.item25{
			position: relative;
			height: var(--centered-item-size);
			opacity: 1;
			left: 50%;
			transform: translateX(-50%);
			width: var(--centered-item-size);
			z-index: 2;
			& h2{
				opacity: 1;
				pointer-events: all;
			}
		}
		&.item23, &.item27{
			height: calc(var(--centered-item-size) * 0.6);
			width: calc(var(--centered-item-size) * 0.6);
			opacity: .4;
		}
		&.item26{
			left: 70%;
			transform: translateX(-50%);
		}
		&.item27{
			left: 85%;
			transform: translateX(-50%);
		}
		&.item28, &.item29, &.item30, &.item31, &.item32, &.item33, &.item34, &.item35, &.item36, &.item37, &.item38, &.item39, &.item40, &.item41, &.item42, &.item43, &.item44, &.item45, &.item46, &.item47, &.item48, &.item49, &.item50 {
			left: 85%;
			opacity: 0;
			z-index: 0;
			pointer-events: none;
			transform: translateX(-50%);
		}
	}
		& img{
			display: block;
			max-width: 100%;
		}
		& h2{
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translate(-50%, 50%);
			width: 130px;
			text-transform: capitalize;
			font-weight: 400;
			font-size: $text-16;
			text-align: center;
			color: #fff;
			opacity: 0;
			pointer-events: none;
			transition: opacity .2s ease-in-out;
		}
	}


.link {
	scroll-snap-align: center;
	overflow: hidden;
	background-size: 130% !important;
	& .container{
		display: flex;
		align-items: center;
		gap: 3rem;
		max-height: 550px;
		min-height: fit-content;
		position: relative;
	}
	&.odd .container{
		flex-direction: row-reverse;
	}
	&.poker{
		background: linear-gradient(270deg, rgba(235,168,94, 0.9) 35%, rgba(0,0,0,0.9) 105%), url('../../images/poker.png') center center no-repeat;
		& img{
			@keyframes movePoker {
				0%{
					filter: drop-shadow(0 0 10px rgb(235,168,94))
			  }
			  50%{
				filter: drop-shadow(0 0 60px rgb(235,168,94))
			  }
			  100%{
					filter: drop-shadow(0 0 10px rgb(235,168,94))	
			  }
			}
			animation: movePoker 3s ease infinite;
		}
		& .btn{
			background: #ef832f;
			&:hover{
				box-shadow: 0 0 35px 0 rgba(244, 146, 69, 0.3);
				background: #f49245;
			}
		}
	}
	&.family{
		background: linear-gradient(90deg, rgba(23, 85, 141, 0.9) 35%, rgba(0,0,0,0.9) 105%), url('../../images/family.png') center center no-repeat;
		& img{
			@keyframes moveFamily {
				0%{
					filter: drop-shadow(0 0 10px rgb(11, 47, 78))
			  }
			  50%{
				filter: drop-shadow(0 0 80px rgb(11, 47, 78))
			  }
			  100%{
					filter: drop-shadow(0 0 10px rgb(11, 47, 78))	
			  }
			}
			animation: moveFamily 3s ease infinite;
		}
		& .btn{
			background: #2e60e9;
			&:hover{
				box-shadow: 0 0 35px 0 rgba(62, 110, 240, 0.3);
				background: #3e6ef0;
			}
		}
	}
	&.news{
		background: linear-gradient(270deg, rgba(94, 235, 184, 0.9) 25%, rgba(4, 29, 24, 1) 100%), url('../../images/news.png') center center no-repeat;
		& img{
			@keyframes moveNews {
				0%{
					filter: drop-shadow(0 0 20px rgb(94, 235, 184))
			  }
			  50%{
				filter: drop-shadow(0 0 60px rgb(94, 235, 184))
			  }
			  100%{
					filter: drop-shadow(0 0 20px rgb(94, 235, 184))	
			  }
			}
			animation: moveNews 3s ease infinite;
		}
		& .btn{
			background: #0c6e47;
			&:hover{
				box-shadow: 0 0 35px 0 rgba(22, 117, 79, 0.3);
				background: #16754f;
			}
		}
	}
	&.pc{
		background: linear-gradient(90deg, rgba(82, 23, 141, 0.95) 35%, rgba(27, 4, 33, 1) 105%), url('../../images/pc.png') center center no-repeat;
		& img{
			@keyframes movePc {
				0%{
					filter: drop-shadow(0 0 50px rgba(148, 71, 255, 0.8))
			  }
			  50%{
				filter: drop-shadow(0 0 90px rgba(148, 71, 255, 0.8))
			  }
			  100%{
					filter: drop-shadow(0 0 50px rgba(148, 71, 255, 0.8))	
			  }
			}
			animation: movePc 3s ease infinite;
		}
		& .btn{
			background: #8633f9;
			&:hover{
				box-shadow: 0 0 35px 0 rgba(148, 71, 255, 0.3);
				background: #9447ff;
			}
		}
	}
	&.mic{
		background: linear-gradient(270deg, rgba(58, 71, 192, 0.9) 35%, rgba(0,0,0,0.9) 105%), url('../../images/mic.png') center center no-repeat;
		& img{
			@keyframes moveMic {
				0%{
					filter: drop-shadow(0 0 20px rgb(58, 71, 192))
			  }
			  50%{
				filter: drop-shadow(0 0 60px rgb(58, 71, 192))
			  }
			  100%{
					filter: drop-shadow(0 0 20px rgb(58, 71, 192))	
			  }
			}
			animation: moveMic 3s ease infinite;
		}
		& .btn{
			background: #1347bb;
			&:hover{
				box-shadow: 0 0 35px 0 rgba(38, 86, 191, 0.3);
				background: #2656bf;
			}
		}
	}
	&.vip{
		background: linear-gradient(90deg, rgba(184, 171, 108, 0.9) 25%, rgba(0,0,0,0.9) 90%), url('../../images/mic.png') center center no-repeat;
		& img{
			@keyframes moveVip {
				0%{
					filter: drop-shadow(0 0 10px #f1cb70)
			  }
			  50%{
				filter: drop-shadow(0 0 130px #f1cb70)
			  }
			  100%{
					filter: drop-shadow(0 0 10px #f1cb70)	
			  }
			}
			animation: moveVip 3s ease infinite;
		}
		& .btn{
			background: #9a834d;
			&:hover{
				box-shadow: 0 0 35px 0 rgba(175, 146, 77, 0.3);
				background: #af924d;
			}
		}
	}
	&.chajka{
		background: linear-gradient(270deg, rgba(156, 166, 255, 1) 35%, rgba(93, 111, 244, 0.9) 105%), url('../../images/mic.png') center center no-repeat;
		& img{
			@keyframes moveChajka {
				0%{
					filter: drop-shadow(0 0 10px rgb(93, 111, 244))
			  }
			  50%{
				filter: drop-shadow(0 0 130px rgb(93, 111, 244))
			  }
			  100%{
					filter: drop-shadow(0 0 10px rgb(93, 111, 244))	
			  }
			}
			animation: moveChajka 3s ease infinite;
		}
		& .btn{
			background: #17387a;
			&:hover{
				box-shadow: 0 0 35px 0 rgba(29, 74, 164, 0.3);
				background: #1d4aa4;
			}
		}
	}
	&.club{
		background: linear-gradient(270deg, rgba(78, 11, 80, 0.9) 35%, rgba(72, 39, 216, 0.9) 105%), url('../../images/mic.png') center center no-repeat;
		& img{
			@keyframes moveClub {
				0%{
					filter: drop-shadow(0 0 10px rgb(72, 39, 216))
			  }
			  50%{
				filter: drop-shadow(0 0 90px rgb(72, 39, 216))
			  }
			  100%{
					filter: drop-shadow(0 0 10px rgb(72, 39, 216))	
			  }
			}
			animation: moveClub 3s ease infinite;
		}
		& .btn{
			background: #6153c8;
			&:hover{
				box-shadow: 0 0 35px 0 rgba(113, 99, 218, 0.3);
				background: #7163da;
			}
		}
	}
	&.merch{
		background: linear-gradient(270deg, rgba(229, 73, 73, 0.9) 35%, rgba(100, 25, 25, 0.9) 105%), url('../../images/mic.png') center center no-repeat;
		& img{
			@keyframes moveMerch {
				0%{
					filter: drop-shadow(0 0 10px rgb(229, 73, 73))
			  }
			  50%{
				filter: drop-shadow(0 0 80px rgb(229, 73, 73))
			  }
			  100%{
					filter: drop-shadow(0 0 10px rgb(229, 73, 73))	
			  }
			}
			animation: moveMerch 3s ease infinite;
		}
		& .btn{
			background: #a90d12;
			&:hover{
				box-shadow: 0 0 35px 0 rgba(181, 36, 41, 0.3);
				background: #b52429;
			}
		}
	}
	&.exchange{
		background: linear-gradient(270deg, rgba(26, 11, 80, 0.9) 35%, rgba(134, 104, 238, 0.9)	105%), url('../../images/mic.png') center center no-repeat;
		& img{
			@keyframes moveExchange {
				0%{
					filter: drop-shadow(0 0 20px rgb(134, 104, 238))
			  }
			  50%{
				filter: drop-shadow(0 0 60px rgb(134, 104, 238))
			  }
			  100%{
					filter: drop-shadow(0 0 20px rgb(134, 104, 238))	
			  }
			}
			animation: moveExchange 3s ease infinite;
		}
		& .btn{
			background: #8a76e1;
			&:hover{
				box-shadow: 0 0 35px 0 rgba(160, 143, 235, 0.3);
				background: #a08feb;
			}
		}
	}

	& img{
		position: relative;
		top: -20%;
		object-fit: cover;
		z-index: 0;
	}
	&__text {
		position: relative;
		z-index: 1;
		max-width: 560px;
		& h4{
			display: flex;
			align-items: center;
			gap: 1rem;
			&::before{
				content: '';
				display: inline-block;
				height: 2px;
				background-color: #fff;
				width: clamp(40px, 89px, 89px);
			}
		}
	}
}


.bubble-1 {
	left: 2svw;
	animation-delay: 1.3s;
 }
 .bubble-1 .bubble-animation-y{
	animation-delay: 0.7s;
 }
 
 .bubble-2 {
	left: 18svw;
	animation-delay: 2s;
 }
 .bubble-2 .bubble-animation-y{
	animation-delay: 2.1s;
 }
 
 .bubble-3 {
	left: 28svw;
	animation-delay: 4.7s;
 }
 .bubble-3 .bubble-animation-y{
	animation-delay: 3.8s;
 }
 
 .bubble-4 {
	left: 31svw;
	animation-delay: 0s;
 }
 .bubble-4 .bubble-animation-y{
	animation-delay: 6s;
 }
 
 .bubble-5 {
	left: 45svw;
	animation-delay: 1.5s;
 }
 .bubble-5 .bubble-animation-y{
	animation-delay: 2.4s;
 }
 
 .bubble-6 {
	left: 62svw;
	animation-delay: 1.5s;
 }
 .bubble-6 .bubble-animation-y{
	animation-delay: 2.8s;
 }
 .bubble-7 {
	left: 72svw;
	animation-delay: 2s;
 }
 .bubble-7 .bubble-animation-y{
	animation-delay: 4s;
 }
 .bubble-8 {
	left: 74svw;
	animation-delay: 2.8s;
 }
 .bubble-8 .bubble-animation-y{
	animation-delay: 3.2s;
 }
 
 .bubble-9 {
	left: 83svw;
	animation-delay: 4s;
 }
 .bubble-9 .bubble-animation-y{
	animation-delay: 5s;
 }
 
 .bubble-10 {
	left: 86svw;
	animation-delay: 5.2s;
 }
 .bubble-10 .bubble-animation-y{
	animation-delay: 3s;
 }
 
 .bubble-container {
	position: absolute;
	width: auto;
	height: auto;
	bottom: -140px;
	z-index: 0;
 }
 
 .bubble {
	pointer-events: none;
	opacity: 0;
	border-radius: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	max-width: none;
	z-index: 0;
	position: relative;
 }
 
 .bubble-animation-x {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: bubbleXAnimFrames;
	animation-timing-function: ease;
	animation-direction: alternate;
 }
 
 .bubble-animation-y {
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-name: bubbleYAnimFrames;
	animation-timing-function: linear;
 }
 
 @keyframes bubbleXAnimFrames {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(30px);
	}
 }
 
 @keyframes bubbleYAnimFrames {
	0% {
	  transform: translateY(0);
	  opacity: 0;
	}
	10% {
	  transform: translateY(0);
	  opacity: 0.5;
	}
	95% {
	  transform: translateY(-95svh);
	  opacity: 0.5;
	}
	100% {
	  	transform: translateY(-100svh) scale(1.5);
	  	opacity: 0;
	}
 }

 footer {
	position: relative;
	background-color: #242424;
	& .container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem 0;
		& h3{
			font-weight: normal;
			margin: 0 0 .3rem 0;
		}
		& p{
			color: lightgrey;
			font-size: $text-14;
		}
	}
	& img{
		height: 20px;
		position: absolute;
		right: .3rem;
		top: 50%;
		transform: translateY(-50%);
	}
 }

 button.back-to-top{
	height: 120px;
	width: 120px;
	position: fixed;
	bottom: 2rem;
	right: 1rem;
	transform: rotate(180deg);
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: opacity .5s ease;
	&.show{
		opacity: 1;
		pointer-events: all;
	}
	&:hover{
		& .circle{
			animation-name:circle;
			animation-duration:1s;
			animation-timing-function:linear;
			animation-delay:0s;
			animation-iteration-count:infinite;
			animation-direction:normal;
			animation-play-state:running;
			-webkit-animation-name:circle;
			-webkit-animation-duration:1s;
			-webkit-animation-timing-function:linear;
			-webkit-animation-delay:0s;
			-webkit-animation-iteration-count:infinite;
			-webkit-animation-direction:normal;
			-webkit-animation-play-state:running;
			
		}
		& .fa{
			animation-name: arrow;
			animation-duration:1s;
			animation-timing-function:linear;
			animation-delay:0s;
			animation-iteration-count:infinite;
			animation-direction:normal;
			animation-play-state:running;
			-webkit-animation-name:arrow;
			-webkit-animation-duration:1s;
			-webkit-animation-timing-function:linear;
			-webkit-animation-delay:0s;
			-webkit-animation-iteration-count:infinite;
			-webkit-animation-direction:normal;
			-webkit-animation-play-state:running;}
		& .pulse{}
	}
 }
 .circle {
	background-color:#fff;
	height: 120px;
	width: 120px;
	display: block;
	border: 5px solid #6C3EB8;
	border-radius: 100px;
	position: absolute;
	bottom: 0;
	z-index: 1;
	
 }
 .fa {
	width: 38px;
	color: #00baff;
	bottom: 27px;
	position: absolute;
	left: 50%;
	margin-left: -18px;
	
 }
 .pulse {
	 margin: 0 auto;
	 border-radius: 100px;
	 position: absolute;
	left: 5px;
	 top: 5px;
	 z-index: 0;
	 background-color: transparent;
	 opacity: 0;
	 width: 110px;
	 height: 110px;
	 border: 10px solid #00baff;
	 -webkit-border-radius: 100px;
	 -moz-border-radius: 100px;
	 -o-border-radius: 100px;
	 -ms-border-radius: 100px;
	 border-radius: 100px;
	 /* Giving Animation Function */
	 border-image: initial;
 }
 @keyframes arrow
	 {
	 0%   {bottom:25px;}
	 75% {bottom:90px;}
	 100% {bottom:25px;}
	 }
 @-webkit-keyframes arrow
	 {
	 0%   {bottom:0;}
	75% {bottom:90px;}
	 100% {bottom:0;}
	}
 @keyframes circle
	 {
	 0%   {height:120px;}
	 10% {height: 120px;}
	50% {height: 130px;}
	 75% {height: 150px;}
	90% {height: 130px;}
	 100% {height: 120px;}
	 }
 @-webkit-keyframes circle
	 {
	 0%   {height:120px;}
	 10% {height: 120px;}
	50% {height: 130px;}
	 75% {height: 150px;}
	90% {height: 130px;}
	 100% {height: 120px;}
	 }
 @-webkit-keyframes pulse 
 {       
	0% {-webkit-transform: scale(0); opacity: 0;}
	8% {-webkit-transform: scale(0); opacity: 0;}
	15% {-webkit-transform: scale(0.1); opacity: 1;}
	30% {-webkit-transform: scale(0.5); opacity: 1;}
	100% {opacity: 0; -webkit-transform: scale(1.5);}
 }
 @-moz-keyframes pulse 
 {       
	0% {-webkit-transform: scale(0); opacity: 0;}
	8% {-webkit-transform: scale(0); opacity: 0;}
	15% {-webkit-transform: scale(0.1); opacity: 1;}
	30% {-webkit-transform: scale(0.5); opacity: 1;}
	100% {opacity: 0; -webkit-transform: scale(1.5);}
 }